@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

header {
  display: flex;
  background-color: #284B63;
  justify-content: space-evenly;
  align-items: center;
  padding: 35px 0;
  position: fixed;
  top: 0;
  transition: .5s ease-in-out;
  width: 100%;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
}

.nav-up {
  top: -40%;
}

#about {
  height: 100vh;
}

.head {
  padding-top: 40px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #ffd60a;
}

li {
  list-style: none;
  display: inline-block;
  padding-right: 15px;
}

li:last-child {
  padding-right: 0;
}

main {
  background: rgb(255, 255, 255);
}

.space {
  height: 15vh;
}

form {
  display: grid;
  justify-items: center;
}

#contact {
  background: #353535;
  padding: 10px;
  text-align: center;
}

.card {
  padding: 25px 0;
  margin: 10px 55px;
  background: #ffffff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

h3 {
  font-size: 35px;
  padding-bottom: 15px;
}

input,
textarea {
  background: #e5e5e5;
  width: 25rem;
  margin: 8px 0;
  padding: 10px;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.submit {
  background: #3e3e3e;
  color: #fff;
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  cursor: pointer;
}

.submit:hover {
  background: #5d5d5d;
}