@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Ubuntu', serif;
}

body {
  padding: 0;
  margin: 0;
  background: #eee;
}

.wrapper {
  padding: 100px 0 30px;
  margin: 20px;
}

.wrapper .title {
  font-size: 3rem;
  padding-left: 0.5rem;
}

/* Navbar and Header */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #48cae4;
  z-index: 1;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top .3s;
  -webkit-transition: top .3s;
  -moz-transition: top .3s;
  -ms-transition: top .3s;
  -o-transition: top .3s;
}

header a {
  text-decoration: none;
  color: #fff;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding-right: 15px;
}

nav ul li:last-child {
  padding-right: 0;
}

.nav-links li a:hover {
  color: #ffe254;
}

.burger {
  display: none;
}

.burger div {
  background: #fff;
  width: 25px;
  height: 3px;
  margin: 3px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

@media (max-width: 768px) {
  header {
    padding: 0 15px;
    justify-content: space-between;
  }
  
  .nav-links {
    font-size: 20px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 8vh;
    background: #48cae4;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 6px);
  -webkit-transform: rotate(-45deg) translate(-4px, 6px);
  -moz-transform: rotate(-45deg) translate(-4px, 6px);
  -ms-transform: rotate(-45deg) translate(-4px, 6px);
  -o-transform: rotate(-45deg) translate(-4px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-2px, -5px);
  -webkit-transform: rotate(45deg) translate(-2px, -5px);
  -moz-transform: rotate(45deg) translate(-2px, -5px);
  -ms-transform: rotate(45deg) translate(-2px, -5px);
  -o-transform: rotate(45deg) translate(-2px, -5px);
}

/* About Section */

.about {
  display: grid;
  place-items: center;
  margin-top: 70px;
  padding-top: 25px;
  min-height: 100vh;
  line-height: 1.5;
}

.info-card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  background: #03045e;
  color: #fff;
  text-align: center;
  padding: 2em;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.profile-name {
  font-size: 2rem;
  line-height: 1.1;
  letter-spacing: 1.5px;
  word-spacing: 5px;
}

.profile-name::after {
  content: '';
  display: block;
  height: 1px;
  width: 2em;
  background: #5bcbf059;
  margin: 0.7em auto 0.5em;
}

.profile-pos {
  margin: 0;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 3px;
  color: #5bcbf0;
  margin-bottom: 2em;
}

.profile-text {
  font-weight: 300;
  margin-bottom: 1.875em;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 3px solid #fff;
}

.social-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 100px;
  margin: 0 auto;
}

.social-item {
  padding: 0 10px;
}

.social-link {
  color: #ededed80;
  font-size: 2rem;
}

.social-link:hover,
.social-link:focus {
  color: #ffd857;
}

.btn {
  background: #ffffff;
  color: #4990b1;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5em;
  border: 5px solid #fff;
  border-radius: 1.5rem;
}

@media (max-width: 768px) {
  .about {
    margin-top: 70px;
  }
}

@media (min-width: 600px) {
  .info-card {
    flex-direction: row;
  }

  
  .profile-pos {
    font-size: 1rem;
  }
  
  .profile-text {
    font-size: 1.2rem;
  }
  
  .profile-main {
    text-align: left;
    margin-left: 2em;
  }
  
  .profile-name {
    font-size: 3rem;
  }
  
  .profile-name::after {
    margin-left: 0;
    width: 5em;
  }
}

/* Skills Section */

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
}

.container {
  width: 100%;
  flex: 1 0 25%;
  padding: 15px;
  text-align: center;
}

.content {
  width: 100%;
  margin: 0 auto;
}

.icon-img {
  width: 100%;
  height: 135px
}

@media (max-width: 768px) {
  .container {
    flex: 1 0 25%;
  }

  .icon-img {
    height: 100px;
  }
}

@media (max-width: 426px) {
  .container {
    flex: 1 0 35%;
  }

  .icon-img {
    height: 115px;
  }
}

/* Projects */

.card-flex {
  margin: 0 auto 20px ;
}

.card {
  width: 260px;
  height: 360px;
  padding: 1.5rem;
  margin: 0 auto 25px;
  background: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: 0.4s ease-out;
  -webkit-transition: 0.4s ease-out;
  -moz-transition: 0.4s ease-out;
  -ms-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
}

.card:hover {
  transform: translateY(20px);
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
}
.card:hover::before {
  opacity: 1;
}
.card:hover .card-info {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}
.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.card .card-info {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY();
  -webkit-transform: translateY();
  -moz-transform: translateY();
  -ms-transform: translateY();
  -o-transform: translateY();
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.card .card-info h4 {
  font-size: 25px;
  margin: 0;
}
.card .card-info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}
.card .card-info button {
  padding: 0.6rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  outline: none;
  border: none;
  background: #fff;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.card .card-info button:hover {
  background: #ffd857;
  color: #000;
}

@media (min-width: 600px) {
  .card-flex {
    columns: 2 200px;
  }
}

@media (min-width: 960px) {
  .card-flex {
    max-width: 1000px;
    columns: 3 322px;
  }
}

/* Contact form */

/* form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact {
  background: #caf0f8;
  padding: 10px;
  text-align: center;
} */

/* .card-content {
  display: flex;
} */

/* h3 {
  color: #03045e;
  font-size: 35px;
}

input,
textarea {
  background: #e5e5e5;
  width: 15rem;
  margin: 8px 0;
  padding: 10px;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
} */

/* input,
textarea {
  display: block;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
} */

.content {
  color: #000;
}

.contact-info {
  width: 90%;
  margin: 0 auto;
}

.contact-info a {
  text-decoration: underline;
  color: #4990b1;
}

.contact-info a:hover {
  color: #ffaa2c;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.user-details .input input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 18px;
  border-bottom-width: 3px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

textarea {
  height: 100px;
  width: 100%;
  outline: none;
  border-radius: 18px;
  border: 1px solid #ccc;
  padding-top: 13px;
  padding-left: 15px;
  font-size: 20px;
  border-bottom-width: 3px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}

.center {
  max-width: 100%;
}

form .user-details input:focus, 
form .user-details input:valid {
  border-color: #ffaa2c;
}

form .user-details input,
form .user-details textarea {
  margin-bottom: 15px;
  width: 100%;
}

textarea:focus {
  border-color: #ffaa2c;
}

@media (min-width: 700px) {
  .center {
    /* max-width: 1020px; */
    max-width: 100%;
    margin: 0 auto;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-left: 25px;
    padding-right: 25px;
  }

  .contact-info {
    width: 45%;
  }

  .container {
    max-width: 700px;
    width: 100%;
  }

  .container form .user-details {
    /* display: flex;
    flex-wrap: wrap; */
    margin: 20px 10px 12px 0;
  }
  

  form .user-details .input {
    margin-bottom: 10px;
    width: 100%;
  }

  .user-details .input input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
  }

  .user-details .input input:focus,
  .user-details .input input:valid {
    border-color: #ffaa2c;
  }

  textarea {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding-top: 13px;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
  }
}

@media (min-width: 920px) {
  .center {
    max-width: 1020px;
  }

  .container form .user-details {
    display: flex;
    flex-wrap: wrap;
  }

  form .user-details .input {
    margin: 5px 0 5px 0;
    width: 100%;
  }
}


/*
.submit {
  background: #ade8f4;
  color: #000;
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  cursor: pointer;
}


.submit:hover {
  background: #03045e;
  color: #fff;
} */

/* Footer */
footer {
  background: #03045e;
}

.footer {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

p.footer-text {
  color: #e5e5e5;
  padding: 30px 0;
  margin: 0;
}
span {
  color: #fff;
}

