@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

li, 
a {
  font-size: 16px;
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 5%;
}

.name {
  margin-right: auto;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  font-weight: 700;
  display: inline-block;
  padding: 0 20px;
}

.nav-links li a {
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.nav-links li a:hover {
  color: #4cba57;
}

.links a {
  font-size: 25px;
  transition: all .2s ease-in-out 0s;
  color: black;
  -webkit-transition: all .2s ease-in-out 0s;
  -moz-transition: all .2s ease-in-out 0s;
  -ms-transition: all .2s ease-in-out 0s;
  -o-transition: all .2s ease-in-out 0s;
}

#github:hover {
  color: #6E5494;
}
#linkedin:hover {
  color: #0072b1;
}